.h1 {
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 60px;

	@media (max-width: 800px) {
		font-size: 35px;
	}
}

.h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	/* identical to box height, or 100% */

	@media (max-width: 600px) {
		font-size: 30px;
	}
}

.h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	/* identical to box height */

	@media (max-width: 600px) {
		font-size: 14px;
	}

	span {
		text-transform: uppercase;
		background: linear-gradient(45deg, #edc667 30%, #8da0ba);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	opacity: 0.7;

	@media (max-width: 600px) {
		font-size: 14px;
	}
}
