.btn {
  height: 50px;
  border: 0;

  background: transparent;
  cursor: pointer;
  padding: 0 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  position: relative;

  transition: all 0.2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  &:active {
    transform: scale(0.98);
  }

  // &.active {
  //   opacity: 1;
  //   cursor: pointer;
  // }

  &.def {
    opacity: 1;
    cursor: pointer;
  }
}

.primary {
  background-image: linear-gradient(
    to right,
    #ea8d41,
    #ec8343,
    #ed7847,
    #ed6e4b,
    #ec6350
  );

  @media (min-width: 600px) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.default {
  // background-color: $basic_grey;
  border: 1px solid gray;

  @media (min-width: 600px) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.new {
  padding: 5px;
  position: relative;
  height: 70px;

  &::after {
    content: "";
    border-top: 1px solid hsla(38, 22%, 90%, 0.5);
    border-left: 1px solid hsla(38, 22%, 90%, 0.5);
    border-right: 1px solid hsla(38, 22%, 90%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40%;
  }

  &::before {
    content: "";
    border-bottom: 1px solid hsla(38, 22%, 90%, 0.5);
    border-left: 1px solid hsla(38, 22%, 90%, 0.5);
    border-right: 1px solid hsla(38, 22%, 90%, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40%;
  }

  &:hover {
    .content {
      &::after {
        right: 5px;
      }
    }
  }

  .content {
    background-image: linear-gradient(
      to right,
      #ea8d41,
      #ec8343,
      #ed7847,
      #ed6e4b,
      #ec6350
    );
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &::after {
      background: #101218;
      content: "";
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 100%;

      transition: all 0.2s ease-in-out;
    }

    h3 {
      position: relative;
      z-index: 2;
    }
  }
}

.primary2 {
  padding: 5px;
  position: relative;
  height: 70px;

  &::after {
    content: "";
    border-top: 1px solid hsla(38, 22%, 90%, 0.5);
    border-left: 1px solid hsla(38, 22%, 90%, 0.5);

    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }

  &::before {
    content: "";
    border-bottom: 1px solid hsla(38, 22%, 90%, 0.5);
    border-right: 1px solid hsla(38, 22%, 90%, 0.5);
    position: absolute;
    width: 30px;
    right: 0;
    bottom: 0;
    height: 30px;
  }

  &:hover {
    .content {
      box-shadow: 0px 4px 26px 9px rgba(250, 142, 75, 0.2);
      &::after {
        right: 5px;
      }
    }
  }

  .content {
    // background: #fa8e4b;
    background: #282c33;
    width: 100%;
    height: 100%;
    border-radius: 0 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    // box-shadow: 0px 4px 26px 9px rgba(250, 142, 75, 0.2);

    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    // width: 250px;

    h2 {
      position: relative;
      z-index: 1;
    }

    &::after {
      background: #fa8e4b;
      // box-shadow: 0px 4px 26px 9px rgba(250, 142, 75, 0.2);
      content: "";
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 100%;
      border-radius: 0 27px 0 27px;

      transition: all 0.2s ease-in-out;
    }
  }
}

.choice {
  border: 1px solid hsla(38, 22%, 90%, 0.5);
  padding: 0;
  border-radius: 0 20px 0 20px !important;
  overflow: hidden;

  &:hover {
    border: 1px solid transparent;
    
    .content {
      box-shadow: 0px 4px 26px 9px rgba(250, 142, 75, 0.2);
      &::after {
        right: 0;
      }
    }
  }

  &.active {
    border: 1px solid transparent;

    .content {
      box-shadow: 0px 4px 26px 9px rgba(250, 142, 75, 0.2);
      &::after {
        right: 0;
      }
    }
  }

  .content {
    // background: #282c33;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    // box-shadow: 0px 4px 26px 9px rgba(250, 142, 75, 0.2);

    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    // width: 250px;

    h2 {
      position: relative;
      z-index: 1;
    }

    &::after {
      background: #fa8e4b;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;

      transition: all 0.2s ease-in-out;
    }
  }
}
