.nav {
  display: flex;
  justify-content: center;
  height: 60px;

  .ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    // border-radius: 5px;
    padding: 0 4rem;
    position: relative;
    background: rgba($color: #090f11, $alpha: 0.5);
    border-radius: 10px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        transparent,
        #878787,
        #b9b9b9,
        #b9b9b9,
        #b9b9b9,
        #b9b9b9,
        #878787,
        transparent
      );
    }

    @media (max-width: 1200px) {
      display: none;
    }

    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      cursor: pointer;
      border-bottom: 2px solid transparent;
      position: relative;

      a {
        color: #fff;
        text-decoration: none;
      }

      @media (min-width: 800px) {
        transform: all 0.2s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    opacity: 1 !important;
  }

  .icon {
    font-size: 25px;

    @media (min-width: 800px) {
      transform: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }

    &.vk {
      color: #4c75a3;
    }

    &.yt {
      color: #ff0000;
    }
  }
}
