body {
  background: url("/bg.webp") #101218 no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input {
  font-family: "Oswald", sans-serif !important;
} */
