.header {
  // background: rgba($color: #333, $alpha: 0.1);
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in-out;

  @media (max-width: 1200px) {
    padding: 0 10px;
  }

  .cont {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    height: 100px;

    max-width: 1500px;
    margin: 0 auto;
  }
}

.lang {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 3;

  button {
    height: 35px;
  }
}
