.name {
  margin-top: 100px;
  position: relative;

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    position: relative;
    z-index: 1;
  }

  .back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba($color: #fff, $alpha: 0.1);
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 0;

    @media (max-width: 700px) {
      display: none;
    }
  }

  .line {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    height: 2px;
    background: #fa8e4b;
  }
}

.about {
  margin-top: 100px !important;
  background: rgba($color: #090f11, $alpha: 0.5);
  padding: 60px 0;
  position: relative;
  border-radius: 10px;

  h1 {
    height: 100px;
    display: flex;
    justify-content: center;

    span {
      opacity: 0;
      transform: scale(0);
      transition: all 0.2s ease-in-out;
      position: absolute;

      // text-transform: uppercase;
      // background: linear-gradient(45deg, #edc667 30%, #8da0ba);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;

      &.active {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  h3 {
    max-width: 800px;
    margin: 0 auto;

    height: 100px;
    display: flex;
    justify-content: center;
    opacity: 0.6;

    @media (max-width: 800px) {
      max-width: auto;
      height: 200px;
    }

    b {
      opacity: 0;
      transform: scale(0);
      transition: all 0.2s ease-in-out;
      position: absolute;
      font-weight: 500;

      &.active {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent,
      #878787,
      #b9b9b9,
      #b9b9b9,
      #b9b9b9,
      #b9b9b9,
      #878787,
      transparent
    );
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent,
      #878787,
      #b9b9b9,
      #b9b9b9,
      #b9b9b9,
      #b9b9b9,
      #878787,
      transparent
    );
  }

  .icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
      width: 100px;
      cursor: pointer;

      @media (min-width: 600px) {
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.img {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 1000px;
    background: url("/orc_background.webp") no-repeat;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 1000px;
    background: url("/human_background.webp") no-repeat;
    pointer-events: none;
  }

  @media (max-width: 1200px) {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .lines {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 500px;
      height: 1000px;
      background: url("/bottom_background.webp") no-repeat;
      pointer-events: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      height: 1000px;
      background: url("/center_background.webp") no-repeat;
      pointer-events: none;
      z-index: -1;
    }

    @media (max-width: 1200px) {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }
}
