.products {
  padding: 100px 0;
  position: relative;

  h2 {
    text-transform: uppercase;
    background: linear-gradient(45deg, #edc667 30%, #8da0ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 500px) {
      white-space: nowrap;
    }
    @media (max-width: 500px) {
      text-align: center !important;
    }
  }

  .btns {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 1rem;

    @media (max-width: 1200px) {
      padding: 0 10px;
    }

    button {
      width: 200px;
      h3 {
        font-weight: 600;
        text-transform: uppercase !important;
      }
    }
  }

  .items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media (max-width: 1200px) {
      padding: 0 10px;
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }
  }
}
