.products {
  padding: 100px 0;
  position: relative;

  .btns {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @media (max-width: 1200px) {
      padding: 0 10px;
    }

    button {
      width: 200px;
    }
  }

  .items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media (max-width: 1200px) {
      padding: 0 10px;
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }
  }
}
