.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: all 0.2s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &.bg {
    backdrop-filter: blur(1rem);
  }

  .content {
    transform: translateX(-100vw);

    transition: all 0.2s ease-in-out;

    @media (max-width: 900px) {
      width: 100vw;
      height: 100vh;
    }

    &.active {
      transform: translateX(0);
    }
  }
}
